body {
  font-family: "Binggrae", sans-serif;
  background-color: #ffebb8;
  margin: 0;
  padding: 0;
}

.notice-container {
  width: 90%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color: #704214;
}

.write-area {
  text-align: right;
  margin: 10px 0;
}

.write-button {
  text-decoration: none;
  background-color: #e1edc1;
  color: black;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
}

.write-button:hover {
  background-color: #ceecf2;
}

.notice-table {
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notice-table th,
.notice-table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.notice-table th {
  background-color: #f2d5dd;
}

.notice-table tr:last-child td {
  border-bottom: none;
}

.title-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.title-link:hover {
  color: #704214;
}
